*{
    margin:0;
    padding:0;
}

.container{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 20vh;
    grid-template-columns: 1fr 3fr;
   
}

.sidebar{
    background-color: lightblue;
    height: 100vh;
    grid-column: 1/ 2;
    display: grid;
    grid-template-rows: 1fr 3fr 4fr;
}

.header{
    background-color: lightcoral;
    grid-column: 2 /3;
    grid-row: 1 / 2 ;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 3fr 1fr;
}

.content{
    background-color: lightgreen;
    border: 1px solid black;
    grid-column:  2/ 3;
}





